.conainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	padding: 0 1rem;
}

.title {
	font-size: 64px;
	text-align: center;
}

.text {
	margin: 1rem 0;
	font-size: 32px;
	text-align: center;
}

@media (max-width: 520px) {
	.title {
		font-size: 48px;
	}
	.text {
		font-size: 24px;
	}
}
